@font-face {
	font-family: starcraft;
	src: url('font/starcraft.ttf');
}
body {
	margin: 0;
	background: #000 url('../../bilder/splash4.jpg') center top no-repeat fixed;
	color: #fff;
	font: 13px Verdana, sans-serif;
	cursor: url('../../bilder/cursor/standard.cur'), default;
}
a, input, textarea, select, option {
	cursor: url('../../bilder/cursor/standard_over.cur'), pointer;
}
p, td {
	color: #fff;
	line-height: 1.3em;
}
a {
	color: #b174b3;
	text-decoration: none;
}
a:hover {
	color: #dcc3dd;
}
INPUT, SELECT {
	color: #fff;
	border-bottom-color: #222;
	border-left-color: #888;
	border-right-color: #222;
	border-top-color: #888;
	border-style: solid;
	border-width: 1px;
	background: #555;
	font: 12px Verdana, sans-serif;
}
INPUT.nofunc {
	color: #777;
	border-bottom-color: #222;
	border-left-color: #888;
	border-right-color: #222;
	border-top-color: #888;
	border-style: solid;
	border-width: 1px;
	background: #555;
	font: 12px Verdana, sans-serif;
}
INPUT.eingabe {
	color: #fff;
	border-bottom-color: #888;
	border-left-color: #222;
	border-right-color: #888;
	border-top-color: #222;
	border-style: solid;
	border-width: 1px;
	background: #555;
	font: 12px Verdana, sans-serif;
}
TEXTAREA {
	color: #fff;
	border-bottom-color: #888;
	border-left-color: #222;
	border-right-color: #888;
	border-top-color: #222;
	border-style: solid;
	border-width: 1px;
	background: #555;
	font: 12px Verdana, sans-serif;
}
h1,h2 {
	color: #fff;
	text-align: center;
	font-family: starcraft;
}
h3 {
	color: #fff;
	border-bottom: 1px solid #ddd;
	font-family: Arial;
}
th.headcell {
    text-align: center;
    border-bottom: 1px solid #fff;
}
td.cell {
    border-bottom: 1px solid #111;
}
.box {
    padding: 15px;
    border: 1px solid #0a0a0a;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    box-shadow:0 0 15px #000;
    -moz-box-shadow:0 0 15px #000;
    -webkit-box-shadow:0 0 15px #000;
}
.message-box {
    text-align: center;
    margin: 15px;
    padding: 15px;
    border: 1px solid #b174b3;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    box-shadow:0 0 15px #000;
    -moz-box-shadow:0 0 15px #000;
    -webkit-box-shadow:0 0 15px #000;
}
img {
	border: 0;
}
img.imgbox {
    border: 1px solid #0a0a0a;
    box-shadow:0 0 15px #000;
    -moz-box-shadow:0 0 15px #000;
    -webkit-box-shadow:0 0 15px #000;
}
#container {
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow:0 0 15px #000;
    -moz-box-shadow:0 0 15px #000;
    -webkit-box-shadow:0 0 15px #000;
}
#header {
	padding: 30px 30px 30px 70px;
	background: #000 url('../../bilder/logo_hintergrund.gif') no-repeat;
}
#header-menu {
	background: #111;
	margin: 0;
	text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#header-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#header-menu ul li {
	position: relative;
	display: inline;
	float: left;
	width: 174px;
}
#header-menu ul li a {
	font: bold 13px Verdana;
        text-align: center;
	display: block;
	background: #111;
	color: #2d2b2b;
	padding: 8px 10px;
	text-decoration: none;
}
#header-menu ul li a:link, #header-menu ul li a:visited {
	color: #fff;
}
#header-menu ul li ul {
	border-top: 1px solid #000;
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
}
#header-menu ul li ul li {
	display: list-item;
	float: none;
}
#header-menu ul li ul li ul {
	top: 0;
}
#header-menu ul li ul li a {
	font: normal 13px Verdana;
        text-align: left;
	width: 148px;
	padding: 6px 12px;
	margin: 0;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}
#header-menu ul li ul li a:hover {
	background: #222;
	color: #fff;
}
#content {
	padding: 25px 20px;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#footer {
	padding: 10px 0;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#footer p {
	text-align: center;
	font-size: .8em;
}
